body {
  font-family: 'Montserrat';
}

h1 {
  color: #f7f9fa;
  font-family: 'Prosto One', cursive;
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}
h2 {
  font-family: 'Prosto One', cursive;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
}
h3 {
  font-family: 'Radley', serif;
  font-size: 2rem;
  font-weight: bold;
}
p {
  color: #137786;
  font-size: 1.2rem;
  font-family: 'Palanquin', sans-serif;
  font-weight: bold;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: #137786;
}

/* Navigation Bar */
.container-fluid {
  padding: 2% 12% 0;
}
#navigation {
  background-color: #f7f9fa;
  position: sticky;
  top: 0;
  z-index: 2;
}
.logo {
  height: 80px;
  width: 80px;
  border-radius: 10px;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  color: #137786;
  font-family: 'Palanquin', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}
.nav-link:hover {
  color: #24e2ff;
  font-size: 1.6rem;
}

/* Introduction Section */

#introduction {
  background-color: #137786;
  padding: 0% 15%;
}
.quote {
  padding-top: 25%;
}

.antenna-img {
  text-align: right;
}

/* About Me Section */
.about-me {
  background-color: #f7f9fa;
  padding: 3% 15%;
  text-align: center;
}
.my-photo {
  border-radius: 50%;
  height: 25%;
  margin-bottom: 5%;
  width: 25%;
}

/* Skill Section */
#skills {
  background-color: #137786;
  padding: 3% 15%;
  text-align: center;
}
.skill {
  padding: 10% 15%;
}
.phone-row {
  text-align: right;
}
.describe-skill {
  padding: 5% 0 0 0;
}
.describe-skill p,
.describe-skill h3 {
  color: #f7f9fa;
}
.wifi-row {
  text-align: left;
}

.phone-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.wifi-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

/* Testimonials section  */

#education {
  color: #137786;
  background-color: #f7f9fa;
  height: 450px;
  text-align: center;
}
.carousel-item {
  padding: 7% 15%;
}
/* relative section */
#relative {
  padding: 5% 15% 4%;
  background-color: #137786;
}

.member {
  text-align: center;
}
.member img {
  margin-bottom: 10%;
  background-color: #fff;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}
.member p {
  color: #f7f9fa;
}

/* footer */

#footer {
  background-color: #fff;
  padding: 4% 15%;
  text-align: center;
}
.contact-icon {
  padding: 2% 2%;
}

.footer p {
  font-size: 1rem;
}

@media (max-width: 991px) {
  .quote {
    text-align: center;
    padding-top: 5%;
  }

  .antenna-img {
    text-align: center;
  }
}

@media (max-width: 669px) {
  #education {
    height: 520px;
  }
}
@media (max-width: 645px) {
  #education {
    height: 600px;
  }
}

@keyframes fadeAndScale {
  0% {
    -webkit-opacity: 0;
    -webkit-transform: scale3d(0.5, 0.5, 1);
  }

  50% {
    -webkit-opacity: 0;
    -webkit-transform: scale3d(0.5, 0.5, 1);
  }

  70% {
    -webkit-opacity: 0;
    -webkit-transform: scale3d(0.75, 0.75, 1);
  }

  100% {
    -webkit-opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
  }
}

#introduction h1 {
  animation: fadeAndScale 4s cubic-bezier(0.39, -1.05, 0.58, 1.95);
  animation-delay: -2.5s;
  transform-origin: right bottom;
}
